In [1]:
import hytek_exctractor

result_df = hytek_exctractor.extract_hytek_results('result_pdfs','carifta_2025_results.csv')

In [2]:
print(result_df.head())

     Name Age                     Team Finals Time Seed Time  \
0  Reagan  13  Virgin Islands Swimming     9:38.89   9:22.27
1  Marena  13        Trinidad & Tobago     9:46.17   9:49.52
2    Zara  13        Trinidad & Tobago     9:54.23   9:53.57
3  Dndn F  14                  Bahamas    10:03.47  10:02.06
4  Lailah  13       Barbados Swim Team    10:46.29  10:14.26

                                EVENT EVENT_NUM GENDER AGE_GROUP DISTANCE  \
0  Girls 13-14 800 LC Meter Freestyle         1  Girls     13-14      800
1  Girls 13-14 800 LC Meter Freestyle         1  Girls     13-14      800
2  Girls 13-14 800 LC Meter Freestyle         1  Girls     13-14      800
3  Girls 13-14 800 LC Meter Freestyle         1  Girls     13-14      800
4  Girls 13-14 800 LC Meter Freestyle         1  Girls     13-14      800

      STROKE DISTANCEXSTROKE AGE_GROUPXGENDER  \
0  Freestyle    800Freestyle       13-14Girls
1  Freestyle    800Freestyle       13-14Girls
2  Freestyle    800Freestyle       13-14Girls
3  Freestyle    800Freestyle       13-14Girls
4  Freestyle    800Freestyle       13-14Girls

                                                MEET
0  XXXVIII Carifta 2025 Aquatic Championships - 1...
1  XXXVIII Carifta 2025 Aquatic Championships - 1...
2  XXXVIII Carifta 2025 Aquatic Championships - 1...
3  XXXVIII Carifta 2025 Aquatic Championships - 1...
4  XXXVIII Carifta 2025 Aquatic Championships - 1...

In [4]:
import pandas as pd
import matplotlib as plt

In [3]:
bim_results = result_df[result_df['Team']== 'Barbados Swim Team']
print(bim_results.head())
bim_results.to_csv('')

        Name Age                Team Finals Time Seed Time  \
4     Lailah  13  Barbados Swim Team    10:46.29  10:14.26
8      Naomi  14  Barbados Swim Team    10:16.41  10:29.45
11     Heidi  15  Barbados Swim Team     9:11.81   9:18.93
18  Isabella  15  Barbados Swim Team     9:57.72   9:59.71
31    Mihael  13  Barbados Swim Team    17:57.49  18:05.88

                                  EVENT EVENT_NUM GENDER AGE_GROUP DISTANCE  \
4    Girls 13-14 800 LC Meter Freestyle         1  Girls     13-14      800
8    Girls 13-14 800 LC Meter Freestyle         1  Girls     13-14      800
11   Girls 15-17 800 LC Meter Freestyle         1  Girls     15-17      800
18  Girls 15-17 800 LC Meter Freestyle)         1  Girls     15-17      800
31  Boys 13-14 1500 LC Meter Freestyle)         2   Boys     13-14     1500

        STROKE DISTANCEXSTROKE AGE_GROUPXGENDER  \
4    Freestyle    800Freestyle       13-14Girls
8    Freestyle    800Freestyle       13-14Girls
11   Freestyle    800Freestyle       15-17Girls
18  Freestyle)   800Freestyle)       15-17Girls
31  Freestyle)  1500Freestyle)        13-14Boys

                                                 MEET
4   XXXVIII Carifta 2025 Aquatic Championships - 1...
8   XXXVIII Carifta 2025 Aquatic Championships - 1...
11  XXXVIII Carifta 2025 Aquatic Championships - 1...
18  XXXVIII Carifta 2025 Aquatic Championships - 1...
31  XXXVIII Carifta 2025 Aquatic Championships - 1...